app-progress-bar {
	width: 80%;
}
button { 
	display: block;
	margin: 10px;
}
app-column-list {
	height: 100px;
}

.byNField {
	width: 30px;
}

app-column-list {
	margin: 10px;
}

.number-input {
	width: 200px;
}
mat-radio-button{
	width: 100%;
}