
<app-column-list [list]="columns"></app-column-list>
<mat-radio-group [(ngModel)] = "mode">
	<mat-radio-button [value]="0">Split by 
			<input 
				style="width: 40px;"
				matInput 
				class="number-input" 
				type="number" 
				min="1" 
				max="16000" 
				step="1" 
				class="byNField" 
				[(ngModel)]="maxRows"/> 
		rows
	</mat-radio-button>
	<mat-radio-button [value]="1">Split by key columns</mat-radio-button>
</mat-radio-group>
<app-column-list *ngIf="mode==1"[list]="keys"></app-column-list>
<button mat-raised-button color="primary" (click)="splitButtonClick()">Split</button>

<!-- for debugging -->
<button mat-raised-button color="primary" (click)="fillWithRandom()">fill wirth random</button>
<button mat-raised-button color="primary" (click)="test()">test</button>
<button mat-raised-button color="primary" (click)="test2()">test2</button>
<button mat-raised-button color="primary" (click)="delete()">delete all other worksheets</button>
<!-- end of debugging -->
<mat-list>
	<mat-list-item style="margin-top: 20px; height: auto; width: 100%;" *ngFor="let progressStatus of progressStatuses">
		<app-progress-bar [progress]="progressStatus" (cancel)="cancelProgress($event)"></app-progress-bar>
	</mat-list-item>
</mat-list>